/*----------------------------------------------------Tela de Login------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------------------------------------------------------  Estilos do Sistemas ----------------------------------------------------*/
html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
}

.body1 {
    background-color: #e9e9e9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-login {
    width: 35vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.div-componentes {
    width: 50vw;
    height: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #c3c3c3;
    margin: 0px 0% 0px 0px;
}

.div-componentes1 {
    width: 22vw;
    height: 25vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: red;
}

.componentes2 {
    margin: 0px 3% 0px 0%;
    width: 25vw;
    height: 22vw;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.inputs {
    border: none;
    border-radius: 30px;
    margin: 0px 0px 5% 0%;
    width: 20vw;
    height: 2.9vw;
}

.button {
    border: none;
    border-radius: 30px;
    margin: 0px 0px 0px 0%;
    width: 20vw;
    height: 2.9vw;
    font-weight: bold;
    font-family: "Inter";
    font-size: 1vw;
    background-color: rgb(205, 218, 255);
    cursor: pointer;
    transition: box-shadow 0.9s ease;
}

.button:active {
    transform: translateY(1px);
}

.h2-login {
    margin: 5% 0px 15% 0%;
    font-size: 2vw;
}

.h2-cadastro {
    margin: 5% 0px 15% 0%;
    font-size: 2vw;
}

.flex-button {
    display: flex;
    margin: 0px 0px 0px 0%;
    font-size: 0.70vw;
    color: rgb(205, 218, 255);
    font-weight: bold;
}

.checkbox {
    width: 0.80vw;
    border: none;
}

.conta {
    margin: 5% 0px 5% 0%;
    font-weight: bolder;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.img-login{
    background-image: url('/img/login.jpg'); 
    background-size: cover;
    background-position: center;
    width: 25vw;
    height: 27vw;
    border-radius: 20px;
    margin: 0px 5% 0px 0px;
}

.icon-login-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.icon-pokebola{
    margin: 0px 0px 10% 5%;
}